:root
{
    --font--primaria:  'Manrope', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
}

.cabecalho_img
{
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: -1;
}

.cabecalho
{
    display: flex;
    padding: 3rem;
    justify-content: flex-start;
}

.nome
{
    display: flex;
    font-family: var(--font--primaria);
    font-weight: 500;
    font-size: 20px;
    color: #B5ED3D;
    justify-content: flex-start;
    margin-right: 80%;
}

.destaque
{
    color: #fff;
}

.botao_menu
{
    display: flex;
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    margin-left: 70%;
}

.apresentacao
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.parte_um
{
    display: flex;
    color: #fff;
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 135px;
    margin-left: 60px;
    line-height: 170px;
}

.parte_dois
{
    display: flex;
    color: #fff;
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 135px;
    margin-left: 150px;
    line-height: 150px;
}

.parte_tres
{
    display: flex;
    color: #fff;
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 135px;
    margin-left: 60px;
}

.apresentacao_2
{
    display: flex;
    justify-content: flex-end;
    margin-top: -300px;
}

.texto_secundario
{
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 20px;
    font-family: var(--font--primaria);
    font-weight: 400;
    margin-right: 140px;
}



.botao_menu
{
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
    border: #fff solid;
    font-size: 18px;
    padding: 6px;
    border-radius: 50px;
    margin-right: 20px;
}

.imagem_2
{
    display: flex;
}

.primeira_img
{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    top: 100%;
}

.circulo_designer
{
    position: absolute;
    top: 95%;
    width: 90px;
    height: 90px;
    left: 73%;
    z-index: 1;
}

.segunda-parte
{
    position: absolute;
    padding: 50px;
    top: 190%;
    max-width: 100%;
}

.hello
{
    display: flex;
    line-height: 80px;
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 25px;
}

.texto_terciario
{
    display: flex;
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 50px;
}

.service
{
    position: absolute;
    background: #000000;
    top: 270%;
    width: 94.76%;
    height: 60%;
    padding: 2.5rem;
    padding-top: 6rem;
}

.botao_grupo1
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 45px;
}

.botao_grupo2
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.botao_grupo3
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.botao1
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao2
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao3
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao4
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao5
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao6
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao7
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao8
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao9
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.our
{
    display: flex;
    align-items: baseline;
    padding: 20px;
    color: #fff;
    font-size: 30px;
}

.Work
{
    position: absolute;
    top: 350%;
    padding: 3.5rem;
    font-size: 30px;
}

.select
{
    font-size: 56px;
    padding-bottom: 50px;
    font-family: var(--font--primaria);
    font-weight: 700;
}

.select_texto
{
    font-size: 22px;
    font-family: var(--font--primaria);
    font-weight: 400;
}

.branding_img
{
    position: absolute;
    top: 385%;
    padding: 3.5rem;
    font-size: 30px;
}

.brand_img1
{
    width: 600px;
    height: 530px;
}

.brand_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.branding_texto
{
    position: absolute;
    top: 415%;
    left: 50%;
}

.designer1
{
    display: flex;
    flex-direction: column;
}

.brand_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.brand_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.brand_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.brand1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.brand2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.brand3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Aplication*/

.application_img
{
    position: absolute;
    top: 470%;
    left: 52%;
    padding: 3.5rem;
    font-size: 30px;
}

.appli_img1
{
    width: 600px;
    height: 530px;
}

.appli_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.application_texto
{
    position: absolute;
    top: 500%;
    left: 5%;
}

.application1
{
    display: flex;
    flex-direction: column;
}

.appli_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.appli_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.appli_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.appli1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.appli2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.appli3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*branning*/

.branning_img
{
    position: absolute;
    top: 560%;
    padding: 3.5rem;
    font-size: 30px;
}

.branni_img1
{
    width: 600px;
    height: 530px;
}

.branni_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.branning_texto
{
    position: absolute;
    top: 592%;
    left: 50%;
}

.branni1
{
    display: flex;
    flex-direction: column;
}

.branni_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.branni_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.branni_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.branni1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.branni2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.branni3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*pack*/

.packaging_img
{
    position: absolute;
    top: 660%;
    left: 52%;
    padding: 3.5rem;
    font-size: 30px;
}

.pack_img1
{
    width: 600px;
    height: 530px;
}

.pack_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.packaging_texto
{
    position: absolute;
    top: 692%;
    left: 5%;
}

.packaging1
{
    display: flex;
    flex-direction: column;
}

.pack_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.pack_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.pack_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.pack1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.pack2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.pack3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*web1*/

.WebSite_1_img
{
    position: absolute;
    top: 760%;
    padding: 3.5rem;
    font-size: 30px;
}

.Web_1_img1
{
    width: 600px;
    height: 530px;
}

.Web_1_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.WebSite_1_texto
{
    position: absolute;
    top: 792%;
    left: 50%;
}

.Web_11
{
    display: flex;
    flex-direction: column;
}

.Web_1_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.Web_1_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.Web_1_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.Web_11
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_12
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_13
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Web2*/

.WebSite_2_img
{
    position: absolute;
    top: 860%;
    left: 52%;
    padding: 3.5rem;
    font-size: 30px;
}

.Web_2_img1
{
    width: 600px;
    height: 530px;
}

.Web_2_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.WebSite_2_texto
{
    position: absolute;
    top: 892%;
    left: 5%;
}

.packaging1
{
    display: flex;
    flex-direction: column;
}

.Web_2_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.Web_2_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.Web_2_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.Web_21
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_22
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_23
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 768px)
{
    .nome
    {
        margin: auto;
    }
    .botao_menu
    {
        margin: auto;
    }

    .cabecalho2_img
    {
        margin: auto;
    }

    .cabecalho_img
    {
        margin: auto;
    }

    .primeira_img
    {
        margin: auto;
    }

    .parte_um
    {
        margin: auto;
    }

    .parte_dois
    {
        margin: auto;
    }

    .parte_tres
    {
        margin: auto;
    }

    .texto_secundario
    {
        margin: auto;
    }
}