:root
{
    --font--primaria:  'Manrope', sans-serif;
    --font--secundaria: 'Inter', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
}

.cabecalho_img
{
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: -1;
}

.cabecalho
{
    display: flex;
    padding: 3rem;
    justify-content: flex-start;
}

.nome
{
    display: flex;
    font-family: var(--font--primaria);
    font-weight: 500;
    font-size: 20px;
    color: #B5ED3D;
    justify-content: flex-start;
    margin-right: 80%;
}

.destaque
{
    color: #fff;
}

.botao_menu
{
    display: flex;
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    margin-left: 78%;
}

.apresentacao
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.parte_um
{
    display: flex;
    color: #fff;
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 135px;
    margin-left: 60px;
    line-height: 170px;
}

.parte_dois
{
    display: flex;
    color: #fff;
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 135px;
    margin-left: 150px;
    line-height: 150px;
}

.parte_tres
{
    display: flex;
    color: #fff;
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 135px;
    margin-left: 60px;
}

.apresentacao_2
{
    display: flex;
    justify-content: flex-end;
    margin-top: -300px;
}

.texto_secundario
{
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 20px;
    font-family: var(--font--primaria);
    font-weight: 400;
    margin-right: 140px;
}



.botao_menu
{
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
    border: #fff solid;
    font-size: 18px;
    padding: 6px;
    border-radius: 50px;
    margin-right: 20px;
}

.imagem_2
{
    display: flex;
}

.primeira_img
{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    top: 100%;
}

.circulo_designer
{
    position: absolute;
    top: 95%;
    width: 90px;
    height: 90px;
    left: 73%;
    z-index: 1;
}

.segunda-parte
{
    position: absolute;
    padding: 50px;
    top: 190%;
    max-width: 100%;
}

.hello
{
    display: flex;
    line-height: 80px;
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 25px;
}

.texto_terciario
{
    display: flex;
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 50px;
}

.service
{
    position: absolute;
    background: #000000;
    top: 270%;
    width: 94.76%;
    height: 60%;
    padding: 2.5rem;
    padding-top: 6rem;
}

.botao_grupo1
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 45px;
}

.botao_grupo2
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.botao_grupo3
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.botao1
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao2
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao3
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao4
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao5
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao6
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao7
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao8
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.botao9
{
    display: flex;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 1rem;
    font-size: 45px;
    color: #fff;
}

.our
{
    display: flex;
    align-items: baseline;
    padding: 20px;
    color: #fff;
    font-size: 30px;
}

.Work
{
    position: absolute;
    top: 350%;
    padding: 3.5rem;
    font-size: 30px;
}

.select
{
    font-size: 56px;
    padding-bottom: 50px;
    font-family: var(--font--primaria);
    font-weight: 700;
}

.select_texto
{
    font-size: 22px;
    font-family: var(--font--primaria);
    font-weight: 400;
}

.branding_img
{
    position: absolute;
    top: 385%;
    padding: 3.5rem;
    font-size: 30px;
}

.brand_img1
{
    width: 600px;
    height: 530px;
}

.brand_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.branding_texto
{
    position: absolute;
    top: 415%;
    left: 50%;
}

.designer1
{
    display: flex;
    flex-direction: column;
}

.brand_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.brand_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.brand_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.brand1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.brand2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.brand3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Aplication*/

.application_img
{
    position: absolute;
    top: 470%;
    left: 52%;
    padding: 3.5rem;
    font-size: 30px;
}

.appli_img1
{
    width: 600px;
    height: 530px;
}

.appli_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.application_texto
{
    position: absolute;
    top: 500%;
    left: 5%;
}

.application1
{
    display: flex;
    flex-direction: column;
}

.appli_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.appli_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.appli_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.appli1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.appli2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.appli3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*branning*/

.branning_img
{
    position: absolute;
    top: 560%;
    padding: 3.5rem;
    font-size: 30px;
}

.branni_img1
{
    width: 600px;
    height: 530px;
}

.branni_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.branning_texto
{
    position: absolute;
    top: 592%;
    left: 50%;
}

.branni1
{
    display: flex;
    flex-direction: column;
}

.branni_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.branni_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.branni_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.branni1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.branni2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.branni3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*pack*/

.packaging_img
{
    position: absolute;
    top: 660%;
    left: 52%;
    padding: 3.5rem;
    font-size: 30px;
}

.pack_img1
{
    width: 600px;
    height: 530px;
}

.pack_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.packaging_texto
{
    position: absolute;
    top: 692%;
    left: 5%;
}

.packaging1
{
    display: flex;
    flex-direction: column;
}

.pack_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.pack_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.pack_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.pack1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.pack2
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.pack3
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*web1*/

.WebSite_1_img
{
    position: absolute;
    top: 760%;
    padding: 3.5rem;
    font-size: 30px;
}

.Web_1_img1
{
    width: 600px;
    height: 530px;
}

.Web_1_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.WebSite_1_texto
{
    position: absolute;
    top: 792%;
    left: 50%;
}

.Web_11
{
    display: flex;
    flex-direction: column;
}

.Web_1_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.Web_1_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.Web_1_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.Web_11
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_12
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_13
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Web2*/

.WebSite_2_img
{
    position: absolute;
    top: 860%;
    left: 52%;
    padding: 3.5rem;
    font-size: 30px;
}

.Web_2_img1
{
    width: 600px;
    height: 530px;
}

.Web_2_img2
{
    display: flex;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 80px;
    height: 80px;
}

.WebSite_2_texto
{
    position: absolute;
    top: 892%;
    left: 5%;
}

.packaging1
{
    display: flex;
    flex-direction: column;
}

.Web_2_texto
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
    line-height: 50px;
}

.Web_2_texto1
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 100px;
    color: #A4A4A4;
}

.Web_2_botao
{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 10px;
}

.Web_21
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_22
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color:#000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Web_23
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    display: flex;
    text-decoration: none;
    color: #000000;
    border: 3px solid #A4A4A4;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Take
{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 4rem;
    top: 960%;
}

.take_texto1
{
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 70px;
}

.linhatake
{
    display: flex;
    position: absolute;
    padding-left: 4rem;
    top: 980%;
    left: 18%;
}

.linha_take
{
    width: 127px;
}

.img_take
{
    display: flex;
    position: absolute;
    padding-left: 4rem;
    top: 970%;
    left: 35%;
}

.take_img
{
    width: 200px;
    height: 200px;
}

.wecan
{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 4rem;
    top: 980%;
    left: 65%;
}

.wecan_texto1
{
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 70px;
}

.wecan_texto2
{
    margin-left: 32%;
}

.linhawecan
{
    display: flex;
    position: absolute;
    padding-left: 4rem;
    top: 1000%;
    left: 63%;
}

.linha_wecan
{
    width: 127px;
}

.clientes
{
    flex-direction: column;
    position: absolute;
    top: 1030%;
    left: 30%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.texto_cliente_apresentacao1
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
}

.texto_cliente_apresentacao2
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 56px;
}

.avaliacao
{
    position: absolute;
    top: 1050%;
    padding: 5rem;
}

.mensagem2
{
    width: 400px;
    height: 500px;
    margin: 25px;
}

.mensagem3
{
    width: 400px;
    height: 500px;
    margin:25px;
}

.mensagem1
{
    width: 400px;
    height: 500px;
    margin: 25px;
}

.circulo_av
{
    position: absolute;
    top: 1140%;
    left: 45%;
}

.companias
{
    position: absolute;
    top: 1200%;
}

.companias_texto
{
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 24px;
    line-height: 100px;
    margin-left: 38%;
}

.companias_img
{
    width: 1502px;
    margin-left: 10px;
}

.youtube
{
    position: absolute;
    top: 1250%;
    padding: 3rem;
    border: 20px #F1F4F8 solid;
    border-radius: 100px;
    background-color: #F1F4F8;
    width: 70%;
    height: 30%;
    left: 10%;
}

.youtube_texto
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.texto_you
{
    font-family: var(--font--primaria);
    font-weight: 700;
    font-size: 50px;
}

.in
{
    margin-left: 55px;
    line-height: 50px;
}

.subscribe
{
    border: 2px #B5ED3D solid;
    background-color: #B5ED3D;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 18px;
    border-width: 10px;
    margin-left: 230px;
}

.final
{
    position: absolute;
    background: #B5ED3D;
    top: 1320%;
    width: 89.45%;
    height: 95%;
    padding: 5rem;
}

.final_cont_texto1
{
    font-family: var(--font--primaria);
    font-weight: 600;
    font-size: 100px;
}

.letstalk
{
    border: 2px #ffffff solid;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 1rem;
    padding-right: 8rem;
    padding-left: 2rem;
    text-decoration: none;
    color: #000;
    font-size: 22px;
}

.circulo_verde
{
    position: absolute;
    top: 49%;
    left: 18%;
}

.redessociais
{
    position: absolute;
    top: 25%;
    left: 88%;
}

.redes_sociais_texto
{
    text-align: right;
    line-height: 30px;
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 22px;
}

.teamoolo
{
    display: flex;
    margin-top: 200px;
    align-items: flex-end;
    justify-content: space-around;
}

.molo
{
    font-family: var(--font--primaria);
    font-weight: 500;
    font-size: 54px;
}

.contact
{
    display: flex;
    margin-left: 500px;
}

.contact_guia
{
    font-family: var(--font--secundaria);
    font-weight: 400;
    font-size: 22px;
}

.linha_rodadape
{
    border: 1px #000 solid;
    width: 100%;
}

.rodape_pagina
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 18px;
}

@media (max-width: 768px)
{
    *
    {
        width: auto;
        padding: 0;
    }

    .cabecalho_img
    {
        height: 625px;
    }

    .nome_marc
    {
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 22px;
    }

    .botao_menu
    {
        position: absolute;
        font-size: 14px;
        top: 10px;
        margin-left: 90px;
        right: 10%;
    }

    .cabecalho2_img
    {
        position: absolute;
        width: 25px;
        left: 85%;
        top: 25px;
    }

    .parte_um
    {
        font-size: 55px;
        position: absolute;
        margin-left: 25px;
        top: 50px;
    }

    .parte_dois
    {
        font-size: 55px;
        position: absolute;
        margin-left: 80px;
        top: 125px;
    }

    .parte_tres
    {
        font-size: 55px;
        position: absolute;
        margin-left: 25px;
        top: 225px;
    }

    .texto_secundario
    {
        position: absolute;
        top: 360px;
        margin-right: 120px;
    }

    .primeira_img
    {
        position: absolute;
        top: 550px;
        left: 2%;
        height: auto;
        width: 95%;
    }

    .circulo_designer
    {
        position: absolute;
        top: 540px;
        left: 265px;
        height: 25px;
        width: 25px;
    }

    .segunda-parte
    {
        position: absolute;
        padding: 1rem;
        top: 110%;
    }

    .hello
    {
        font-size: 18px;
    }

    .texto_terciario
    {
        font-size: 23.2px;
    }

    .service
    {
        position: absolute;
        top: 180%;
        height: 500px;
        width: 100%;
        padding: 1rem;
        padding-top: 6rem;
        padding-bottom: -500px;
    }

    .botao1
    {
        position: absolute;
        font-size: 25px;
        margin-left: -15px;
        top: 28%;
    }

    .botao3
    {
        position: absolute;
        font-size: 25px;
        margin-left: 160px;
        top: 28%;
    }

    .botao2
    {
        position: absolute;
        font-size: 25px;
        margin-left: -15px;
        top: 40%;
    }

    .botao9
    {
        position: absolute;
        font-size: 25px;
        margin-left: 215px;
        top: 40%;
    }

    .botao4
    {
        position: absolute;
        font-size: 25px;
        margin-left: -15px;
        top: 52%;
    }

    .botao5
    {
        position: absolute;
        font-size: 25px;
        margin-left: 190px;
        top: 52%;
    }

    .botao6
    {
        position: absolute;
        font-size: 25px;
        margin-left: -15px;
        top: 76%;
    }

    .botao8
    {
        position: absolute;
        font-size: 25px;
        margin-left: -15px;
        top: 64%;
    }

    .botao7
    {
        position: absolute;
        font-size: 25px;
        margin-left: 205px;
        top: 76%;
    }

    .Work
    {
        position: absolute;
        top: 270%;
        padding: 0.5rem;
        margin-left: 5%;
    }

    .select
    {
        font-size: 45px;
    }

    .select_texto
    {
        font-size: 14px;
    }

    /*brand*/
    .branding_img
    {
        position: absolute;
        top: 290%;
        padding: 1rem;
    }

    .brand_img1
    {
        margin-top: 50px;
        height: 100%;
        width: 100%;
    }

    .brand_img2
    {
        margin-left: -5%;
    }

    .branding_texto
    {
        position: absolute;
        padding: 1rem;
        margin-left: -50%;
        top: 350%;
    }

    .brand_texto
    {
        font-size: 30px;
    }

    .brand_texto1
    {
        font-size: 14px;
    }

    .brand1
    {
        position: absolute;
        width: 12%;
        padding-left: 20px;
        margin-left: -5%;
    }

    .brand2
    {
        position: absolute;
        width: 14%;
        padding-left: 16px;
        margin-left: 29%
    }

    .brand3
    {
        position: absolute;
        width: 20%;
        padding-left: 10px;
        margin-left: 63.5%
    }

    /*appliction*/
    .application_img
    {
        position: absolute;
        top: 390%;
        padding: 1rem;
    }

    .appli_img1
    {
        position: absolute;
        width: 350px;
        height: 350px;
        left: -580%;
    }

    .appli_img2
    {
        position: absolute;
        top: 1080%;
        margin-left: -205%;
        height: 60px;
        width: 60px;
    }

    .application_texto
    {
        position: absolute;
        padding: 1rem;
        margin-left: -6%;
        top: 445%;
    }

    .appli_texto
    {
        font-size: 30px;
    }

    .appli_texto1
    {
        font-size: 14px;
    }

    .appli1
    {
        position: absolute;
        width: 12%;
        padding-left: 20px;
        margin-left: -5%;
    }

    .appli2
    {
        position: absolute;
        width: 14%;
        padding-left: 16px;
        margin-left: 29%
    }

    .appli3
    {
        position: absolute;
        width: 20%;
        padding-left: 10px;
        margin-left: 63.5%
    }

    /*branning*/
    .branning_img
    {
        position: absolute;
        top: 490%;
        padding: 1rem;
    }

    .branni_img1
    {
        position: absolute;
        width: 350px;
        height: 350px;
    }

    .branni_img2
    {
        position: absolute;
        top: 1080%;
        margin-left: 410%;
        height: 60px;
        width: 60px;
    }

    .branning_texto
    {
        position: absolute;
        padding: 1rem;
        margin-left: -50%;
        top: 545%;
    }

    .branni_texto
    {
        font-size: 30px;
    }

    .branni_texto1
    {
        font-size: 14px;
    }

    .branni1
    {
        position: absolute;
        width: 12%;
        padding-left: 20px;
        margin-left: -5%;
    }

    .branni2
    {
        position: absolute;
        width: 14%;
        padding-left: 16px;
        margin-left: 29%
    }

    .branni3
    {
        position: absolute;
        width: 20%;
        padding-left: 10px;
        margin-left: 63.5%
    }

    /*pack*/
    .packaging_img
    {
        position: absolute;
        top: 590%;
        padding: 1rem;
    }

    .pack_img1
    {
        position: absolute;
        width: 350px;
        height: 350px;
        left: -580%;
    }

    .pack_img2
    {
        position: absolute;
        top: 1080%;
        margin-left: -205%;
        height: 60px;
        width: 60px;
    }

    .packaging_texto
    {
        position: absolute;
        padding: 1rem;
        margin-left: -6%;
        top: 645%;
    }

    .pack_texto
    {
        font-size: 30px;
    }

    .pack_texto1
    {
        font-size: 14px;
    }

    .pack1
    {
        position: absolute;
        width: 12%;
        padding-left: 20px;
        margin-left: -5%;
    }

    .pack2
    {
        position: absolute;
        width: 14%;
        padding-left: 16px;
        margin-left: 29%
    }

    .pack3
    {
        position: absolute;
        width: 20%;
        padding-left: 10px;
        margin-left: 63.5%
    }

    /*Web1*/
    .WebSite_1_img
    {
        position: absolute;
        top: 690%;
        padding: 1rem;
    }

    .Web_1_img1
    {
        position: absolute;
        width: 350px;
        height: 350px;
    }

    .Web_1_img2
    {
        position: absolute;
        top: 1080%;
        margin-left: 410%;
        height: 60px;
        width: 60px;
    }

    .WebSite_1_texto
    {
        position: absolute;
        padding: 1rem;
        margin-left: -50%;
        top: 745%;
    }

    .Web_1_texto
    {
        font-size: 30px;
    }

    .Web_1_texto1
    {
        font-size: 14px;
    }

    .Web_11
    {
        position: absolute;
        width: 12%;
        padding-left: 20px;
        margin-left: -5%;
    }

    .Web_12
    {
        position: absolute;
        width: 14%;
        padding-left: 16px;
        margin-left: 29%
    }

    .Web_13
    {
        position: absolute;
        width: 20%;
        padding-left: 10px;
        margin-left: 63.5%
    }

    /*Web2*/
    .WebSite_2_img
    {
        position: absolute;
        top: 790%;
        padding: 1rem;
    }

    .Web_2_img1
    {
        position: absolute;
        width: 350px;
        height: 350px;
        left: -580%;
    }

    .Web_2_img2
    {
        position: absolute;
        top: 1080%;
        margin-left: -205%;
        height: 60px;
        width: 60px;
    }

    .WebSite_2_texto
    {
        position: absolute;
        padding: 1rem;
        margin-left: -6%;
        top: 845%;
    }

    .Web_2_texto
    {
        font-size: 30px;
    }

    .Web_2_texto1
    {
        font-size: 14px;
    }

    .Web_21
    {
        position: absolute;
        width: 12%;
        padding-left: 20px;
        margin-left: -5%;
    }

    .Web_22
    {
        position: absolute;
        width: 14%;
        padding-left: 16px;
        margin-left: 29%
    }

    .Web_23
    {
        position: absolute;
        width: 20%;
        padding-left: 10px;
        margin-left: 63.5%
    }

    .Take
    {
        position: absolute;
        padding: 1rem;
        top: 890%;
    }

    .take_texto1
    {
        font-size: 24px;
    }

    .linhatake
    {
        position: absolute;
        top: 898.5%;
        left: 50px;
    }

    .linha_take
    {
        width: 50px;
    }

    .img_take
    {
        position: absolute;
        top: 895%;
        left: 105px;
    }

    .take_img
    {
        width: 72px;
        height: 72px;
    }

    .wecan
    {
        position: absolute;
        top: 898%;
        left: 190px;
    }

    .wecan_texto1
    {
        font-size: 24px;
    }

    .linhawecan
    {
        position: absolute;
        top: 904%;
        left: 170px;
    }

    .linha_wecan
    {
        width: 50px;
    }

    .clientes
    {
        position: absolute;
        top: 920%;
        padding: 10px;
        left: 20px;
    }

    .texto_cliente_apresentacao1
    {
        font-size: 30px;
    }

    .texto_cliente_apresentacao2
    {
        font-size: 30px;
    }

    .avaliacao
    {
        position: absolute;
        top: 930%;
        padding: 10px;
    }

    .mensagem1
    {
        position: absolute;
        left: -5px;
        width: 289px;
        height: 374px;
    }

    .mensagem2
    {
        position: absolute;
        left: 290px;
        width: 289px;
        height: 374px;
    }

    .mensagem3
    {
        position: absolute;
        left: 390px;
        width: 289px;
        height: 374px;
    }

    .circulo_av
    {
        position: absolute;
        top: 990%;
        left: 130px;
    }

    .companias
    {
        position: absolute;
        top: 1000%;
        padding: 1rem;
    }

    .companias_texto
    {
        position: relative;
        font-size: 22px;
        margin-left: 20px;
    }

    .companias_img
    {
        width: 50px;
    }
}